* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
}

/* HEADER */
header {
  background: #040404;
  color: white;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
}

/* DROPDOWN */
.dropdown {
  display: none;
  position: absolute;
  background: #444;
  top: 30px;
  left: 0;
  padding: 10px;
}

nav ul li:hover .dropdown {
  display: block;
}

.dropdown li {
  margin: 5px 0;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: white;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
}

/* FEATURES */
.features {
  padding: 50px;
  text-align: center;
}

.feature-box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #667eea;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #aaa;
  margin: 0 10px;
  text-decoration: none;
}